* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  background-color: #000;
}

.star-wars-home {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  padding: 0;
}

.content {
  padding-top: 3em;
  background-image: url("../../img/home/bg2.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.links{
  text-decoration: none;
  color: white;
  margin: 1em;
}

.links li{
  text-decoration: none;
  color: white;
  margin: 1em;
}
.characters{
  display: flex;
  justify-content: space-between;
}

.character{
  text-decoration: none;
  color: white;
  text-align: center;
 width: 15em;
 margin: 2em;
  background-color: gray;
  border: 1px solid white;
}


.character h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

.character p {
  font-size: 1.2rem;
  margin-bottom: 20px;

}

.title{
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 3em;
}

.porters{
  display: flex;
  justify-content: space-between;
}

.poster img{
  border: 1px solid white;
  margin: 1em;
  width: 20em;
  height: 30em;
}

.poster :hover{
  border: 1px solid gray;
}

.logo2{
  width: 30em;
  height: 25em;
}

@media (max-width: 600px) {
  .characters {
     flex-direction: column;
   }
  .character {
     margin: 1em 0;
   }
 }