* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  background-color: #000;
}

.star-wars-home {
  background-color: #000;
  color: yellow;
  font-family: Arial, sans-serif;
  padding: 0;
}

.content {
  padding-top: 3em;
  background-image: url("../../img/home/bg2.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.links{
  text-decoration: none;
  color: yellow;
  margin: 1em;
}

.links li{
  text-decoration: none;
  color: yellow;
  margin: 1em;
}
.characters{
  display: flex;
  justify-content: space-between;
}

.character{
  text-decoration: none;
  color: yellow;
  text-align: center;
  box-sizing: border-box;
  background-color: gray;
  margin: 2em;
}

.character h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.character p {
  font-size: 1.2rem;
  margin-bottom: 20px;

}

.title{
  text-decoration: none;
  color: yellow;
  text-align: center;
  margin-top: 3em;
}

@media (max-width: 600px) {
  .characters {
     flex-direction: column;
   }
  .character {
     margin: 1em 0;
   }
 }