
.titleD{
    text-align: center;
    color: #d0ddd0;
    padding: 0;
    margin: 0;
    background-color: #545454;
}

.body{
    color: #d0ddd0;
    text-align: center;
    background-color: #545454;
}
