
.header {
  display: flex;
  justify-content: space-between;
  background-color: #5e8898;
  color: #d0ddd0;
  padding: 2em;
  margin: 0;
  border: 0;
}
#header-text {
  color: #d0ddd0;
  font-size:xx-large;
  font-style: italic;

}

.Links{
  justify-content: space-between;
  display: flex;
  margin-right: 10px;
}

.logo {
  width: 50px;
  height: 50px;
}

.header-links{
  text-decoration: none;
  color: #d0ddd0;
  margin: 1em;
}
  