.header_social {
  position: absolute;
  top: 1em;
  left: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #d0ddd0;
  padding: 2em;
  margin: 0;
  border: 0;
}

#header-text {
  color: #d0ddd0;
  font-size: xx-large;
  font-style: italic;
}

.sign-section{
  position: absolute;
  display: flex;
  top: 2em;
  right: 1em;
}

.sign-section button{
margin: 0.5em;
padding: 0.5em;
background-color: black;
border: 1px solid white;
color: white;
transition: 1s;
}


.sign-up button:hover{
  background-color: rgb(255, 0, 0);
  border: 1px solid rgb(196, 196, 196);
  box-shadow: 0 0 10px 5px rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  transition: 1s;
  }

.sign-in button:hover{
  background-color: rgba(0, 128, 255, 0.64);
  border: 1px solid rgb(196, 196, 196);
  box-shadow: 0 0 10px 5px rgba(0, 128, 255, 0.64);
  color: rgb(255, 255, 255);
  transition: 1s;
  }

.Links {
  display: flex;
  margin-right: 10px;
  border-bottom: 1px solid white;
}

.logo {
  width: 50px;
  height: 50px;
}

.link{
  margin-top: 1em;
  position:relative;
}

.link a{
  text-decoration: none;
  color: #d0ddd0;
  margin: 1em;
}

.link a:hover{
  background-color: rgba(0, 128, 255, 0.556);
  box-shadow: 0 0 10px 5px rgba(0, 128, 255, 0.64);
  transition: 1s;
}

.header-links {
  text-decoration: none;
  color: #d0ddd0;
  margin: 1em;
}

.header-links :hover {
  background-color: rgba(0, 128, 255, 0.64);
  box-shadow: 0 0 10px 5px rgba(0, 128, 255, 0.64);
  transition: 1s;
}

/* Media query for tablet and below */
@media (max-width: 768px) {
  .header_social{
    display: none;
  }
 .header {
    flex-direction: column;
    align-items: center;
  }
  #header-text {
    margin-bottom: 10px;
  }
 .logo {
    margin-bottom: 10px;
  }
 .Links {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
 .header-links {
    margin: 0 10px;
  }
}