.footer {
  background-color: #5e8898;
  color: #d0ddd0;
  padding: 2rem 0;
  text-align: center;
}

.footer__content {
  margin: 0 auto;
  max-width: 1200px;
}

.footer__copyright {
  margin-bottom: 1rem;
  text-decoration: none;
  color: #d0ddd0;
}

.footer__social {
  margin-bottom: 1rem;
}

.footer__social-icon {
  text-decoration: none;
  color: #d0ddd0;
  margin: 1em;
  justify-content: center;
}

.footer__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__link {
  margin: 0 1rem;
  text-decoration: none;
  color: #d0ddd0;
}

.footer__link:hover {
  text-decoration: underline;
}