*{
    padding: 0;
    margin: 0;
}

.privacy-policy {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ddd0d0;
    background-color: #545454;
  }
  
  .privacy-policy__content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .privacy-policy h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 1em;
    margin-right: 1em;
    border-top: 1px solid white;
  }

  .privacy-policy h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 1em;
    margin-right: 1em;
    border-top: 1px solid white;
  }
  
  
  .privacy-policy p {
    margin-bottom: 1rem;
    margin-bottom: 2rem;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .privacy-policy ul {
    list-style: disc;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  
  .privacy-policy li {
    margin-bottom: 0.5rem;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .privacy-policy a {
    color: #fcfcfc;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .privacy-policy a:hover {
    text-decoration: underline;
  }